# -----------------------------------------
# DATABASE CONFIGURATION (PostgreSQL)
# -----------------------------------------
DB_TYPE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=securechat
DB_USER=postgres
DB_PASS=102044

# -----------------------------------------
# SERVER SETTINGS
# -----------------------------------------
SERVER_HOST=127.0.0.1
SERVER_PORT=5000

# -----------------------------------------
# CERTIFICATE PATHS
# -----------------------------------------
CA_CERT_PATH=certs/ca.cert.pem
SERVER_CERT_PATH=certs/server.cert.pem
SERVER_KEY_PATH=certs/server.key.pem
CLIENT_CERT_PATH=certs/client.cert.pem
CLIENT_KEY_PATH=certs/client.key.pem
